@import 'http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css';
body {
    padding:     15px;
    font-family: 'Oxygen', 'Helvetica', 'Arial', sans-serif;
    background:  #f4f4f4;
    color:       #424242;
}
div#console {
    font-size:   14px;
    font-family: Menlo, monospace;
}
div#console div.jquery-console-inner {
    width:    100%;
    height:   90%;
    padding:  5px;
    overflow: auto;
}
div#console div.jquery-console-focus span.jquery-console-cursor {
    background: #424242;
}

div#console .jquery-console-message-value {
    padding-left: 15px;
    font-weight: bold;
}
div#console .jquery-console-message-type {
    padding-left: 15px;
    font-weight: bold;
    color: grey;
}
div#console .jquery-console-message-error {
    color: red;
    font-weight: bold;
}

